In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv("data/movies.csv")

In [3]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
movies.columns

Index(['movieId', 'title', 'genres'], dtype='object')

In [5]:
movies.shape

(9125, 3)

In [6]:
movies.dtypes

movieId     int64
title      object
genres     object
dtype: object

In [7]:
movies['title']

0                                        Toy Story (1995)
1                                          Jumanji (1995)
2                                 Grumpier Old Men (1995)
3                                Waiting to Exhale (1995)
4                      Father of the Bride Part II (1995)
5                                             Heat (1995)
6                                          Sabrina (1995)
7                                     Tom and Huck (1995)
8                                     Sudden Death (1995)
9                                        GoldenEye (1995)
10                         American President, The (1995)
11                     Dracula: Dead and Loving It (1995)
12                                           Balto (1995)
13                                           Nixon (1995)
14                                Cutthroat Island (1995)
15                                          Casino (1995)
16                           Sense and Sensibility (1995)
17                                      Four Rooms (1995)
18                  Ace Ventura: When Nature Calls (1995)
19                                     Money Train (1995)
20                                      Get Shorty (1995)
21                                         Copycat (1995)
22                                       Assassins (1995)
23                                          Powder (1995)
24                               Leaving Las Vegas (1995)
25                                         Othello (1995)
26                                    Now and Then (1995)
27                                      Persuasion (1995)
28      City of Lost Children, The (Cit√© des enfants p...
29      Shanghai Triad (Yao a yao yao dao waipo qiao) ...
                              ...
9095    Teenage Mutant Ninja Turtles: Out of the Shado...
9096            Popstar: Never Stop Never Stopping (2016)
9097                               The Conjuring 2 (2016)
9098                       Approaching the Unknown (2016)
9099                                  Ghostbusters (2016)
9100                          Central Intelligence (2016)
9101                                  Jason Bourne (2016)
9102                               The Maid's Room (2014)
9103                          The Legend of Tarzan (2016)
9104                      The Purge: Election Year (2016)
9105                Mike & Dave Need Wedding Dates (2016)
9106                           Survive and Advance (2013)
9107                                      Tallulah (2016)
9108                                         Piper (2016)
9109                                         Nerve (2016)
9110                         My Friend Rockefeller (2015)
9111                                     Sunspring (2016)
9112                    Author: The JT LeRoy Story (2016)
9113                            Hell or High Water (2016)
9114                 Kingsglaive: Final Fantasy XV (2016)
9115                                          Body (2015)
9116                  Sharknado 4: The 4th Awakens (2016)
9117                The Last Brickmaker in America (2001)
9118                                      Stranger Things
9119                                        Rustom (2016)
9120                                  Mohenjo Daro (2016)
9121                                 Shin Godzilla (2016)
9122    The Beatles: Eight Days a Week - The Touring Y...
9123                             The Gay Desperado (1936)
9124                                Women of '69, Unboxed
Name: title, Length: 9125, dtype: object

In [8]:
movies.loc[27]

movieId                   28
title      Persuasion (1995)
genres         Drama|Romance
Name: 27, dtype: object

In [9]:
movies.loc[movies['title']=="Ghostbusters (2016)"]

      movieId                title                       genres
9099   160080  Ghostbusters (2016)  Action|Comedy|Horror|Sci-Fi

In [10]:
ratings = pd.read_csv("data/ratings.csv")

In [11]:
ratings.head(5)

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [27]:
ratings.loc[ratings['userId']==14]

     userId  movieId  rating  timestamp
942      14      594     1.0  976243997
943      14     1196     4.0  976243997
944      14     1721     3.0  976243912
945      14     2038     3.0  976244179
946      14     2355     2.0  976244179
947      14     2394     3.0  976244471
948      14     2628     3.0  976243933
949      14     2683     2.0  976244131
950      14     2716     3.0  976244313
951      14     2720     2.0  976244367
952      14     2724     3.0  976244524
953      14     2861     2.0  976244287
954      14     3114     4.0  976244591
955      14     3157     2.0  976244564
956      14     3175     5.0  976244313
957      14     3354     3.0  976243997
958      14     3623     3.0  976244423
959      14     3751     4.0  976244205
960      14     3986     3.0  976244107
961      14     3988     4.0  976244343

In [28]:
movies.loc[movies['movieId']==3175]

      movieId                title                   genres
2552     3175  Galaxy Quest (1999)  Adventure|Comedy|Sci-Fi

In [30]:
ratings.sort_values('rating')

ratings.sort_values('rating',ascending = False)

       userId  movieId  rating   timestamp
33889     242     2929     5.0   956687566
36867     265     1233     5.0   960056214
46251     337     1356     5.0  1447176421
14749      95     3948     5.0  1025556197
14747      95     3917     5.0  1019023102
63929     460     2020     5.0  1072837101
14741      95     3793     5.0  1018816171
77745     537     1269     5.0   879503289
77744     537     1267     5.0   879503075
14737      95     3702     5.0  1016316990
77742     537     1265     5.0   879521068
36869     265     1237     5.0   960056005
14733      95     3617     5.0  1018816073
14732      95     3578     5.0  1018815804
14730      95     3510     5.0  1018815804
14729      95     3499     5.0  1019022937
14728      95     3481     5.0  1016316859
36874     265     1247     5.0   960056180
77748     537     1273     5.0   879502758
88494     587     5013     5.0  1160393838
46240     337      589     5.0  1447176450
46233     336     4406     5.0   995826790
14772      95     4369     5.0  1019022782
14771      95     4351     5.0  1016317519
14770      95     4321     5.0  1025556197
36878     265     1254     5.0   960056098
46238     337      329     5.0  1447176408
14764      95     4140     5.0  1019022672
77749     537     1276     5.0   879502488
77751     537     1282     5.0   879502925
...       ...      ...     ...         ...
51382     380     2574     0.5  1053104102
76676     531      165     0.5  1240402274
29790     213    33681     0.5  1462644086
2538       15   110553     0.5  1416120149
76762     531     4993     0.5  1243509988
87717     584     6951     0.5  1271761004
87726     584     8985     0.5  1271763407
2471       15    98122     0.5  1465793928
2472       15    98154     0.5  1425876388
2473       15    98809     0.5  1416119923
29704     213     6566     0.5  1462644087
2482       15   100083     0.5  1465880648
29730     213     7360     0.5  1462644086
2491       15   101112     0.5  1465880292
76773     531     7361     0.5  1243455132
2499       15   102880     0.5  1400818394
2503       15   103249     0.5  1465794267
2537       15   110127     0.5  1416120162
76751     531     3798     0.5  1243454803
76741     531     2791     0.5  1243510282
76720     531     1997     0.5  1243454868
2521       15   107348     0.5  1465881258
76711     531     1370     0.5  1244063037
2525       15   108190     0.5  1458506323
2526       15   108689     0.5  1465954590
76709     531     1258     0.5  1243454822
2530       15   109187     0.5  1465794437
76706     531     1183     0.5  1244062924
76700     531     1036     0.5  1240402328
68262     475     3564     0.5  1447778383

[100004 rows x 4 columns]

In [31]:
ratings['score'] = 100 * ratings['rating']/5

In [32]:
ratings.head()

   userId  movieId  rating   timestamp  score
0       1       31     2.5  1260759144   50.0
1       1     1029     3.0  1260759179   60.0
2       1     1061     3.0  1260759182   60.0
3       1     1129     2.0  1260759185   40.0
4       1     1172     4.0  1260759205   80.0

In [33]:
ratings['score'].unique()

array([  50.,   60.,   40.,   80.,   70.,   20.,  100.,   90.,   30.,   10.])